[databases]
nodes_db_path = c:/Code_Projects/Remote-Area-Monitoring/source/databases/nodes.json
sensor_data_db_path = c:/Code_Projects/Remote-Area-Monitoring/source/databases/sensor_data.json
images_database_path = c:/Code_Projects/Remote-Area-Monitoring/source/databases/images.json

[mesh_network]
port = COM3
baud_rate = 115200
connection_timeout = 120
serial_timeout = 30
receive_timeout = 20
image_timeout = 180
image_retry = 2
query_interval = 60

[website]
ip_address = 192.168.50.29
port = 8050

